.addStock {
  position: absolute;
  right: 5%;
  bottom: 10%;
}

.mat-headline {
  text-align: center;
}

.example-container table {
  width: 100%;
  text-align: center;
}

mat-slide-toggle {
  position: absolute;
  right: 5%;
}

mat-expansion-panel {
  position: relative;
}

.actionButtons {
  display: flex;
  justify-content: flex-end;
}

.actionButtons button {
  margin: 0 10px;
}
