<div *ngIf="router.url === '/'">
  <h1 class="mat-headline">Действующие акции</h1>

  <mat-accordion>
    <mat-expansion-panel *ngFor="let list of testList">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Имя акции:
          {{ list.name }}
        </mat-panel-title>
        <mat-panel-description>
                <mat-slide-toggle class="example-margin" (click)="stop($event)"
                  [color]="color"
                  [checked]="checked"
                  [disabled]="disabled">
                </mat-slide-toggle>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="example-container">
        <span class="mat-headline">Перечень условий</span>
            <table>
              <thead>
              <tr>
                <th>ID набора</th>
                <th>Вид цены</th>
                <th>Позиция</th>
                <th>Цена</th>
              </tr>
              </thead>
              <tr *ngFor="let model of list.variants">
                <td>
                  {{model.id}}
                </td>
              <td colspan="3">
                <table style="width: 100%">
                  <tr *ngFor="let opt of model.sets">
                    <td>{{ opt.options.viewValue }}</td>
                    <td>{{ opt.position }}</td>
                    <td>{{ opt.cost }}</td>
                  </tr>
                </table>
              </td>

              </tr>
            </table>

      </div>
      <div class="period">
        <mat-form-field>
          <input matInput [matDatepicker]="pickerStart" placeholder="Начало акции" disabled>
          <mat-datepicker-toggle matSuffix [for]="pickerStart"></mat-datepicker-toggle>
          <mat-datepicker #pickerStart disabled="false"></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
          <input matInput [matDatepicker]="pickerEnd" placeholder="Конец акции" disabled>
          <mat-datepicker-toggle matSuffix [for]="pickerEnd"></mat-datepicker-toggle>
          <mat-datepicker #pickerEnd disabled="false"></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="actionButtons">
        <button mat-raised-button (click)="editStock(list)">Редактировать акцию</button>
        <button mat-raised-button color="warn" class="deleteStock" (click)="deleteStock(list.name)">Удалить акцию</button>
      </div>
    </mat-expansion-panel>
  </mat-accordion>

  <!--<table *ngIf="testList.length > 0">-->
    <!--<tr>-->
      <!--<th>Название акции</th>-->
      <!--<th>Перечень условий</th>-->
    <!--</tr>-->
    <!--<tr *ngFor="let list of testList">-->
      <!--<td>{{ list.name }}</td>-->
      <!--<td>-->
        <!--<table>-->
          <!--<thead>-->
          <!--<tr>-->
            <!--<th>Вид цены</th>-->
            <!--<th>Позиция</th>-->
            <!--<th>Цена</th>-->
          <!--</tr>-->
          <!--</thead>-->
          <!--<tr *ngFor="let model of list.values">-->
            <!--<td>{{ model.options.viewValue }}</td>-->
            <!--<td>{{ model.position }}</td>-->
            <!--<td>{{ model.cost }}</td>-->
          <!--</tr>-->
        <!--</table>-->
      <!--</td>-->
    <!--</tr>-->
  <!--</table>-->
  <button mat-fab  color="primary" class="addStock" (click)="openCreateComponent()">+</button>
</div>

<router-outlet></router-outlet>
